<h2>Select Payment Method</h2>

<form method="post" action="/api/checkout/payment">
  <input type="hidden" name="checkout_id" value="{{ checkout_id }}">
  <input type="hidden" name="method" value="{{ method }}">
  <input type="hidden" name="amount" value="{{ amount}}">
  <div>
    <input type="radio"  name="method" value="COD" required>
    <label for="cod">Cash on Delivery (COD)</label>
  </div>

  <div>
    <input type="radio"  name="method" value="PAYONLINE">
    <label for="prepaid">Pay Online </label>
  </div>

  <br>
  <button type="submit">Continue</button>
</form>
  <a href="/checkout/summary?checkout_id={{ checkout_id }}">
    ← Back to Order Summary
  </a>
