{% extends "base.html" %}

{% block title %}My Orders{% endblock %}

{% block content %}



<div class="orders-list">

  {% for item in order_items %}
  <div class="order-item-card">


  <div class="order-thumb">
    <img src="{{ item.thumbnail }}">
  </div>


  <div class="order-info">
    <h4>{{ item.title }}</h4>
    <p class="muted">Qty: {{ item.quantity }}</p>
  </div>


  <div class="order-price">
    ₹ {{ item.subtotal }}
  </div>


  <div class="order-meta">
    <div class="order-status {{ item.status|lower }}">
      ● {{ item.status }}
    </div>

    <div class="order-date">
      {{ item.placed_at }}
    </div>
  </div>


  <a href="/orders/{{item.order_id}}/{{item.item_id}}" class="stretched-link"></a>

</div>
  {% endfor %}

</div>
{% endblock %}