<!DOCTYPE html>
<html>
<head>
  <title>Payment Confirmation</title>
</head>
<body>

  <h2>Confirm Payment
</h2>

  <p><b>Amount to Pay:</b> ₹{{ amount | round(2) }}</p>
  <p><b>Checkout ID:</b> {{ checkout_id }}</p>
  <p><b>Paymenth Method:</b>{{ method }}</p>

  <form method="post" action="/api/checkout/payonline/confirm">
    <input type="hidden" name="checkout_id" value="{{ checkout_id }}">
    <input type="hidden" name="method" value="{{ method }}">
    <button type="submit"onclick="allowConfirmNavigation()">Go to Payment Page</button>
  </form>

  <br>

  <a href="/checkout/summary?checkout_id={{ checkout_id }}">
    ← Back to Order Summary
  </a>
<script>
  let allowNavigation = false;

  window.addEventListener("beforeunload", function (e) {
    if (!allowNavigation) {
      e.preventDefault();
      e.returnValue = "";
    }
  });

  function allowConfirmNavigation() {
    allowNavigation = true;
  }
</script>

</body>
</html>
