<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joycart Register</title>
</head>
<body>
        <h1>Create your account</h1>
        <form action="/api/register" method="POST">
                <div>
                    <label for="username">Username</label>
                    <input id="username" name="username" placeholder="Enter your username" autocomplete="off"/>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input id="email" name="email" placeholder="Enter your email" autocomplete="off"/>
                </div>

                <div>
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" placeholder="••••••••" autocomplete="new-password"/>
                </div>

                <button type="submit">Register</button>
                </form>
                Already have an account?
                <a href="/login">Login</a>
            </div>
</body>
</html>